//
//  Entity Card
// --------------------------------------------------

.entity-card {
    @extend .mb-5;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #D8D8D8;
    overflow: hidden;

    &__header {
        @extend .position-relative;

        &__bg {
            height: 190px;
            overflow: hidden;
            position: relative;

            img {
                object-fit: cover;
                position: absolute;
                top: -50%;
                transform: translateY(50%);
                width: 100%;
                height: 100%;
            }
        }
    }

    &__body {
        position: relative;
        padding: 50px 20px 20px 20px;

        &__user-value {
            @extend .position-absolute, .text-center;
            background: #EE3263;
            color: #fff;
            font-size: 15px;
            font-weight: 700;
            line-height: 33px;
            border: 3px solid #F2F2F4;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            top: 83%;
            left: 85%;
            transform: translate(-50%, -50%);
        }

        &__avatar-wrapper {
            position: absolute;
            top: -90px;
            left: 50%;
            transform: translateX(-50%);
        }

        &__avatar {
            width: 130px;
            height: 130px;
            margin: auto;
            border-radius: 50%;
            overflow: hidden;
            border: 5px solid #F2F2F4;
        }

        &__title {
            font-weight: 700;
            font-size: 23px;
            color: #5F5F5F;
            letter-spacing: -0.6px;
            text-align: center;
        }

        &__tagline {
            max-width: 180px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        &__data {
            @extend .d-flex, .justify-content-around;
            text-align: center;

            .entity-card__data {
                .value {
                    font-weight: 700;
                    font-size: 22px;
                    color: #7E7E7E;
                }
                .key {
                    font-size: 14px;
                    color: #5F5F5F;
                }
            }
        }
    }

    &__footer {
        @extend .d-flex;
        height: 55px;
        border-top: 1px solid #D8D8D8;

        &__btn {
            @extend .d-flex, .align-items-center, .justify-content-center;
            background: transparent;
            width: 50%;
            height: inherit;
            border: none;
            font-weight: 600;
            font-size: 13px;
            color: #808080;
            text-align: center;
            text-transform: uppercase;
            transition: background .35s;

            &:hover {
                background: #ececec;
            }

            span {
                @extend .ml-2;
            }

            &:first-child {
                border-right: 1px solid #D8D8D8;
            }
        }
    }
}