//
//  Pill shape
// --------------------------------------------------

.pill-shape {
    @extend .d-inline-block, .px-3, .mr-1, .mb-2;
    padding-top: .15rem;
    padding-bottom: .15rem;
    font-weight: 600;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    display: inline-block;
    border-radius: 40px;

    &--primary {
        background: rgba(238,50,99,0.80);
        border: 1px solid #EE3263;
    }
    &--secondary {
        background: rgba(246,173,5,0.90);
        border: 1px solid #E19F08;
    }
    &--terciary {
        background: rgba(57,46,78,0.80);
        border: 1px solid #392E4E;
    }
}