//
//  Select 2
// --------------------------------------------------

.css-yk16xz-control {
    border: none!important;
}

.css-1okebmr-indicatorSeparator {
    display: none;
}

.css-1pahdxg-control {
    border: none!important;
    box-shadow: none!important;
}