//
//  Toast
// --------------------------------------------------

.Toastify__toast {
    font: 500 15px "Open Sans", sans-serif;
    color: #646464;
    padding: 8px 20px;
    border-top: 4px solid #ee3262;
}