//
//  User card
// --------------------------------------------------

.user-card {
    @extend .d-flex, .align-items-center;
    color: #5F5F5F;

    &__img {
        @extend .mr-2, .position-relative;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-color: #fff;
        overflow: hidden;

        img {
            @extend .position-absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__info {
        .user-card__name {
            font-weight: 700;
            font-size: 12px;
        }

        .user-card__time {
            font-weight: 500;
            font-size: 11px;
            color: #AEAEAE;
        }
    }
}