//
// CSS Base
// --------------------------------------------------

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #F0F4F7;
    font: 13px 'Open Sans', sans-serif;
    color: #5F5F5F;
}

a {
	&:hover,
	&:focus,
	&:active {
		outline: 0;
	}
}

button {
    &:focus {
        outline: 0;
    }
}

img {
	@extend .img-fluid;
}